<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js Tutorial</title>

</head>
<body>
<div id="app">
    <h1>{{ message }}</h1>

    <ul>
        <li style="list-style-type: none" v-for="lesson in listOfLessons">{{ text }} {{ lesson.id }}:
            <a :href="lesson.link" v-if="lesson.id > 2">{{ lesson.name }}</a>
            <a v-if="lesson.id <= 2">{{ lesson.link }}</a>
        </li>
    </ul>

</div>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> <!-- подключение vue -->

<script>
    // инициализация приложения vue
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Here is my first practice with Vue.',
            text: 'Learn Vue Lesson',
            listOfLessons: [
                {id: 1, link: 'no link, there was just introduction of Vue', name: ''},
                {id: 2, link: 'no link, there was just some basics of Vue without example to do', name: ''},
                {id: 3, link: 'Part 3 examples of v-x parametrs.html', name: 'Part 3 examples of v-x parametrs'},
                {id: 4, link: 'Part 4 example with v-bind.html', name: 'Part 4 example with v-bind'},
                {id: 5, link: 'Part 5 example v-for for print list.html', name: 'Part 5 example v-for for print list'},
                {id: 6, link: 'Part 6 example v-model for enter value in data.html', name: 'Part 6 example v-model for enter value in data'},
                {id: 7.1, link: 'Part 7 example with counter on buttons.html', name: 'Part 7 example with counter on buttons'},
                {id: 7.2, link: 'Part 7 example with humanise url.html', name: 'Part 7 example with humanise url'},
                {id: 8.1, link: 'Part 8 example of computing full name from first and last.html', name: 'Part 8 example of computing full name from first and last'},
                {id: 8.2, link: 'Part 8 example of computing level by score.html', name: 'Part 8 example of computing level by score'},
                {id: 9, link: 'Part 9 example getter and setter.html', name: 'Part 9 example getter and setter'},
                {id: 10, link: 'Part10/\start.html', name: 'Example of application with API'}
            ]
        },
        computed: {
            linkName: function() {
                return this.lesson
            }
        }
    })
</script>
</html>